body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

/* HEADING */

.heading {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

.heading:after {
    left: 50%;
    height: 3px;
    width: 50px;
    content: " ";
    bottom: -35px;
    margin-left: -25px;
    position: absolute;
    background: #444;
}

.heading h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #444;
}
/* NAVIGATION MENU */


.nav-link {
    text-transform: uppercase;
}
.navbar a:hover,
.navbar a.active {
    border-bottom: 3px solid #C6596F;
}

.navbar-brand {
    float: left;
}

.topnav-right {
    float: right;
}
/* HEADER */

.intro-slide {
    position: relative;
    text-align: center;
}

.carousel img {
    max-height: 100vh;
    /*max-height: calc(100vh - 90px); !*zmienic 80px na wysokosc nav aby slider byl na wysokosc ekranu*!*/
}

.intro-header {
    position: absolute;
    background: RGBA(255, 255, 255, 0.7);
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /*width: 49%;*/
}


.intro-header h1 {
    text-transform: uppercase;
    margin-bottom: 1.6875rem;
    font-size: 4rem;
    font-weight: 600;
    color: #76c143;
}

.intro-header p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 4.5rem;

}

.intro-btn {
    position: absolute;
    z-index: 4;
    bottom: -44px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-btn a {

    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
}

.intro-btn a .text {

    transform: translate3d(0, 0.8em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.intro-btn a:after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 5px;
    background: #C6596F;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}
.intro-btn .line {
    position: absolute;
    background: #C6596F;
}
.intro-btn .line.-right, .intro-btn .line.-left {
    width: 5px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
}
.intro-btn .line.-top, .intro-btn .line.-bottom {
    height: 5px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
}
.intro-btn .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
}
.intro-btn .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}
.intro-btn .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}
.intro-btn .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
}
.intro-btn a:hover .text,
.intro-btn a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.intro-btn a:hover:after,
.intro-btn a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.intro-btn a:hover .line,
.intro-btn a:active .line {
    transform: scale3d(1, 1, 1);
}
.intro-btn a:hover .line.-right,
.intro-btn a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}
.intro-btn a:hover .line.-top,
.intro-btn a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}
.intro-btn a:hover .line.-left,
.intro-btn a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}
.intro-btn a:hover .line.-bottom,
.intro-btn a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}

/* 4 Boxes Icons*/
.boxes {
    margin-top: 2em;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;

}
.box {
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin: 1.2rem 0;
}

.box h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
    padding-top: 2rem;
}
.box img {
    width: 50%
}
.box:hover {
    background: #F1F1F1;
    transform: scale(1.2);
    transition: 0.4s ease-in-out;
    border-radius: 40px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.1);
}

.under_line {
    width: 57px;
    border-top: 3px solid #C6596F;
    margin: 10px auto 0px auto;
}

/* 8 funkcjonalnocsi - wersja 1*/

/*.benefits-title {*/
    /*font-size: 1.6rem;*/
/*}*/

section#benefits {
    background: #f2f4f8;
}
/*h2.benefits-title {*/
    /*text-align: center;*/
    /*padding: 3rem;*/
/*}*/
.benefits-linia {
    height: 100%;
}

/*.title {*/
/*margin-bottom: 36px;*/
/*text-transform: uppercase;*/
/*font-size: 2.8rem;*/
/*line-height: 52px;*/
/*height: auto;*/
/*}*/

.field {
    margin-bottom: 1rem;
}
.field-1 {
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    border-radius: 10px;
    padding-top: 1rem;
}
.field:hover {
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    border-radius: 10px;
padding-top: 1rem;
}

/* 8 funkcjonalnocsi - wersja 2*/

/*.item-wrap, .you-get-icon, .sub-title, .item {*/
    /*border: 1px solid red;*/
/*}*/
.you-get {
    background: #f2f4f8;
}

.item-wrap .you-get-icon, .you-get .item-wrap .sub-title {
    transition: 400ms;
    opacity: 1;
    float: left;
}
.you-get .item-wrap .you-get-icon {
    font-size: 3rem;
    margin-right: 20px;
}
.item-wrap .description {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    padding: 10px;
    opacity: 0;
    transition: 400ms;
    background-color: white;
}
.you-get .item-wrap .item {
    display: flex;
    align-items: center;
}

.row.item {
    height: 173px;
    width: 100%;
    justify-content: center;
}

.you-get .lalala-before:before {
    content: '';
    position: absolute;
    right: 0;
    height: 90%;
    width: 1px;
    top: 5%;
    background: radial-gradient(ellipse at center, #b8b8b8 0%, rgba(255,255,255,0) 100%);
}
.you-get .item-wrap:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 1px;
    background: radial-gradient(ellipse at center, #b8b8b8 0%, rgba(255,255,255,0) 100%);
    left: 5%;
}
/*.you-get-icon {*/
    /*margin: 0 auto;*/
/*}*/
.sub-title {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 0;
}
.item {
    overflow: hidden;
    position: relative;
}
.item:hover .description {
    opacity: 1;
}
.item:hover .you-get-icon, .item:hover .sub-title {
    opacity: 0;
}
/*NEWSLETTER*/

.newsletter {
    height: auto;
    background-image: url("img/1234.jpg");
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: revert;
}

.newsletter .form {
    border-radius: 20px;
    padding: 3rem;
    width: 49%;
    margin: 0 auto;
    background: RGBA(255, 255, 255, 0.8);
}

.form-check {
    padding: 10px 10px 10px 20px;
}

.form-check p {
    font-size: 0.8rem;
}

.form h3 {
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

.btn-primary {
    margin: 10px;
    width: 100px;
    background-color: #C6596E;
    border: none;
}
button.btn.btn-primary {
    font-weight: bold;
}
.form-control:focus {
    border: none;
    box-shadow: 0 0 10px rgba(195, 211, 48);
}

.btn-primary:hover {
    border: none;
    background-color: #853D49;
}

.btn-primary:focus {
    border: none;
    box-shadow: 0 0 10px rgba(195, 211, 48);
    background-color: #C3D330;
}

.btn-primary:active {
    border: none;
    box-shadow: 0 0 10px rgba(195, 211, 48);
    background-color: #C3D330;
}

.btn-primary:active:hover {
    border: none;
    box-shadow: 0 0 10px rgba(195, 211, 48);
    background-color: #C3D330;
}

.btn-primary:visited {
    border: none;
    box-shadow: 0 0 10px rgba(195, 211, 48);
    background-color: #C3D330;
}

.funct {
    background: linear-gradient(#C3D330, #7AAA42);
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    margin: 50px;
    border: none;
}


/*ABOUT-US*/

.content {
    padding-top: 30px;
}



/* Team Members */
.team-members {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}

.team-members .team-avatar {
    position: relative;
}

.team-members .team-avatar:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(129, 129, 129, 0.1);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.team-members .team-avatar img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.team-members .team-desc {
    left: auto;
    bottom: 89px;
    width: 100%;
    padding: 0 43px;
    position: absolute;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.team-members .team-desc h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #fff;
}

.team-members .team-desc span {
    display: block;
    /*font-size: 13px;*/
    font-weight: 600;
    /*text-transform: uppercase;*/
    color: #fff;
}

.team-members:hover .team-avatar:after {
    background: rgba(47, 60, 72, 0.7);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.team-members:hover .team-desc {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}

.team-members:hover .team-desc {
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.social-icons {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-evenly;
    margin-top: 10px;
}
.social:hover {
    background: white;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
}

.team-img {
    padding-top: 8px;
}



/*.about-us-countainer {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-evenly;*/
/*}*/
/*.about-us-container-person {*/
    /*width: 100%;*/
    /*height: 560px;*/
    /*margin-bottom: 100px;*/
    /*margin-top: 50px;*/
    /*background: #7AAA42;*/
    /*border-top-left-radius: 20px;*/
    /*border-top-right-radius: 20px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/
/*.person-img {*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
    /*margin-bottom: 20px;*/
    /*transition: all 0.4s ease-in-out ;*/
/*}*/
/*.about-us-container-person:hover .person-img {*/
    /*transform: scale(1.1);*/
/*}*/
/*.about-us-container-person h1 {*/
    /*text-align: center;*/
    /*font-size: 28px;*/
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
/*}*/
/*.about-us-container-person p {*/
    /*font-size: 14px;*/
    /*margin: 20px 10px 10px 10px;*/
    /*text-align: center;*/
/*}*/
/*.social-icons {*/
    /*display: flex;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*justify-content: space-evenly;*/
    /*opacity: 0;*/
    /*transition: all 0.4s ease-in-out ;*/
    /*padding-bottom: 5px;*/
/*}*/
/*.about-us-container-person:hover .social-icons {*/
    /*opacity: 1;*/
/*}*/
/*.about-us-container-person:hover {*/
    /*-moz-box-shadow:    inset 0 0 15px #8C8982;*/
    /*-webkit-box-shadow: inset 0 0 15px #8C8982;*/
    /*box-shadow:         inset 0 0 15px #8C8982;*/
/*}*/
/*.social {*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/
/*.social:hover {*/
    /*background:#C3D330;*/
/*}*/







/*@media (min-width: 576px) {*/
    /*.intro-header {*/
        /*max-width: 95%;*/
    /*}*/
/*}*/